<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="properties/mybatis.properties">
	</properties><settings>
		<setting name="defaultStatementTimeout" value="25000" />
	</settings>
	
	<typeAliases>
		<!-- 与spring整合后别名可以通过org.mybatis.spring.SqlSessionFactoryBean来设置 -->
		<typeAlias alias="LabelValueBean" type="com.cht.framework.core.model.LabelValueBean"/>
	</typeAliases>
	<plugins>
		<plugin interceptor="com.cht.framework.core.mybatis.jdbc.interceptor.MySQLStatementHandlerInterceptor"/>
		<plugin interceptor="com.cht.framework.core.mybatis.jdbc.interceptor.ResultSetHandlerInterceptor"/>
	</plugins>
</configuration>