package ${bean.moduleUrl}.web.controller;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;
import ${bean.moduleUrl}.service.${bean.entityName}Service;

/**
 * 功能：TODO
 * @author ${bean.authName}
 * @version: ${bean.createDate}
 */
@Controller
@RequestMapping("/${bean.moduleName}/${bean.lowerEntityName}")
public class ${bean.entityName}Controller {

	@Autowired
	private ${bean.entityName}Service ${bean.lowerEntityName}Service;
}
