package ${bean.moduleUrl}.service.impl;

import org.springframework.beans.factory.annotation.Autowired;

import ${bean.moduleUrl}.${bean.entityName};
import ${bean.moduleUrl}.dao.${bean.entityName}DAO;
import ${bean.moduleUrl}.service.${bean.entityName}Service;
import com.manzz.framework.core.model.PaginationServiceImpl;

/**
 * 功能：TODO
 * @author ${bean.authName}
 * @version: ${bean.createDate}
 */
public class ${bean.entityName}ServiceImpl extends PaginationServiceImpl<${bean.entityName}> implements ${bean.entityName}Service{
	@Autowired
	private ${bean.entityName}DAO dao;
}