package ${bean.moduleUrl}.service;

import ${bean.domainUrl}.${bean.entityName};
import com.cht.framework.core.model.PaginationService;

/**
 * 功能：TODO
 * @author ${bean.authName}
 * @version: ${bean.createDate}
 */
public interface ${bean.entityName}Service extends PaginationService<${bean.entityName}>{
	
}
